<div class = "container">
	<div class = "row">
		<i class="fas fa-hamburger fa-4x" id = "img"></i>
	</div>

	<br>

	<div class = "row">
		<h1 id = "title">EAT-DA-BURGER!</h1>
	</div>

	<div class="row">
	    <div class="col-sm-6">

			<br>
			<h2>Burgers Available To Eat!</h2>

			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}

			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit" class="eatburger">Devour It!</button>
			        </form>

			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>
		</div>
		<div class="col-sm-6">

			<h2>Burgers That Have Been Eaten!</h2>
			
			  {{#each burgers}}
			    {{#if devoured}}
			      	<span>{{this.id}}
			        {{this.burger_name}}</span>
					<button type="button" class="deletebutton btn btn-danger" id ="deletebutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
			    {{/if}}
			  {{/each}}
			
	    </div>

	</div>

	<div class="row">
	    <div class="center col-sm-12">

			<form class="create-update-form" action="/" method="POST">

			  <div class="form-group">
			    <input type="text" id="newburger" name="burger_name">
			  </div>
			  
			  <button class="btn-primary" type="submit">Add a burger!</button>

			  <p>Enter a burger you want to order and click the "Add a burger!" button.</p>
			</form>

	    </div>
	
  	</div>

</div>


